<nav>
               <div class="logo">
               <img src="/pic/gemini1.png" ><h2 class="title"><span>G</span>emini</h2>
               </div>
               <ol>
                    <li><a href="/">home</a></li>
                    <li><a href="/gemini">gemini</a></li>
                    <li><a href="/shortURL">shorterURL</a></li>
                    <li><a href="/contact">contact</a></li>
                    
                    
                    <li id="user-info"><a href="/signup">signup</a>/<a href="/login">login</a></li>
               </ol>
          </nav>



          