<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin Panel</title>
</head>
<body>
        <div class="side-menu">
        <div class="brand-name">
            <h1>Brand</h1>
        </div>
        <ul class="mylist">
            <li><a href="/admin">Dashboard</a> </li>
            <li><a href="/admin/addUSer">Users</a></li>
            <li><a href="/admin/adminmanager">managers</a> </li>
            <li><a href="/admin/urls">URLS</a>  </li>
            <li><a href="/admin/gemini">Gemini</a> </li>
            <li><img src="help-web-button.png" alt="">&nbsp; <span>Help</span></li>
            <li><img src="settings.png" alt="">&nbsp;<span>Settings</span> </li>
        </ul>
    </div>
     {{{body}}}

    
     </body>
</html>